.combobox {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.3rem;
    box-sizing: border-box;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    position: relative;
}

.combobox input {
    background-color: transparent;
    width: 100%;
    font-family: var(--main-font);
    outline: none;
    padding: 0.5rem 0;
    color: var(--text-color);
    border: none;
    box-sizing: border-box;
}

.combobox .listbox.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2.1rem;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    background-color: var(--primary-color);
    max-height: 9rem;
    overflow-y: scroll;
    z-index: 5;
}

.combobox .listbox.closed {
    display: none;
}

.combobox .listbox .coin {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--text-color);
    padding: 0.5rem;
    border-bottom: 1px solid var(--text-color);
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.combobox .listbox .coin:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.combobox .listbox .coin img {
    width: 25%;
    mix-blend-mode: multiply;
}

.combobox .listbox .coin:last-child {
    border-bottom: none;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .combobox .listbox .coin img {
        width: 15%;
    }

    .combobox .listbox.open {
        max-height: 12rem;
    }

    .combobox {
        width: auto;
    }

    .combobox input {
        padding: 0.5rem 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .combobox .listbox .coin img {
        width: 15%;
    }

    .combobox .listbox.open {
        max-height: 6rem;
    }

    .combobox {
        width: auto;
    }

    .combobox input {
        padding: 0.5rem 1rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .combobox .listbox .coin img {
        width: 15%;
    }

    .combobox .listbox.open {
        max-height: 15rem;
    }

    .combobox {
        width: auto;
    }

    .combobox input {
        padding: 0.5rem 1rem;
    }
}

@media only screen and (min-width: 1281px) {
    .combobox .listbox .coin img {
        width: 15%;
    }

    .combobox .listbox.open {
        max-height: 15rem;
    }

    .combobox {
        width: auto;
    }

    .combobox input {
        padding: 0.5rem 1rem;
    }
}