.graph-sell {
    padding: 2em 1em;
}

.graph-sell>div {
    margin: auto;
}

.graph-sell h1 {
    margin-bottom: 0.5rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .graph-sell {
        padding: 2em 5em;
    }

    .graph-sell p {
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .graph-sell {
        padding: 0 3em;
        overflow: hidden;
    }

    .graph-sell p {
        margin-bottom: 1em;
    }

    .graph-sell canvas {
        width: 30% !important;
        height: auto !important;
        margin: auto !important;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .graph-sell {
        padding: 1em 3em;
    }

    .graph-sell p {
        margin-bottom: 1em;
    }

    .graph-sell canvas {
        width: 60% !important;
        height: auto !important;
        margin: auto !important;
    }
}

@media only screen and (min-width: 1281px) {
    .graph-sell {
        padding: 0 3em;
        overflow: hidden;
    }

    .graph-sell p {
        margin-bottom: 1em;
    }

    .graph-sell canvas {
        width: 45% !important;
        height: auto !important;
        margin: auto !important;
    }
}