* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

::selection {
  color: var(--text-color);
  background-color: var(--primary-color);
}

#root {
  --main-font: 'Rubik', sans-serif;
  overflow: hidden;
}

body {
  font-size: 16px;
}

#root:not(.dark) {
  --content-background: #e7e5df;
  --sidebar-background: #cfceca;
  --sidebar-active: #dddddd;
  --primary-color: #5d81c8;
  --text-color: #1f1f1f;
  --danger-color: #DB504A;
  background-color: var(--content-background);
  transition: all 0.5s;
}

#root.dark {
  --content-background: #1f1f1f;
  --sidebar-background: #383838;
  --sidebar-active: #434343;
  --primary-color: #5c90f8;
  --text-color: #e7e5df;
  --danger-color: #DB504A;
  background-color: var(--content-background);
  transition: all 0.5s;
}